//navigation bar
#navigation-bar{
    background-color: green;
    display: grid;
    padding: 20px;
    grid-template-columns:auto auto auto;
    column-gap: 20px;
    
}

.nav-button{
    background-color: lightblue;
    text-align: center;
    min-width: 100px;
    font-size: 15px;
}

//search-container
#search-container{
    background-color: yellow;
    margin: auto;
}

//search-table
#search-table{
    background-color: aqua;
    margin: auto;
    width: auto;
}

td{
    text-align: center;
}

#text-box{
    min-width: 450px;
}

#submit-button{
    
}